@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #121212;
      --text-color: #ffffff;
      --foreground: #ededed;
  }
}
/* globals.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Add this to your global CSS or tailwind config */
p {
  display: block;
  white-space: normal; /* Ensure text wraps naturally */
  margin-bottom: 16px; /* Adds space below paragraphs */
  word-wrap: break-word; /* Ensures words are properly broken if too long */
}


body {
  color: var(--foreground);
  background: var(--background);
 
    font-family: 'Roboto', sans-serif;
  
  
}

